<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
   
    <span class="example-spacer"></span>
   
<span class="title-center"> My Guru Kool - Publish Test</span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>face</mat-icon>
    </button>
    <span class="text-medium">Welcome John!!!</span>
    <button mat-button>About</button>
    <button mat-button>Contact</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Off</span>
      </button>
    </mat-menu>
   
  </mat-toolbar-row>
</mat-toolbar>