<div class="container-fluid" *ngIf="student">
    <mat-toolbar color="primary" class="mt-1">
        <mat-chip-list>
            <mat-chip color="accent">{{student.class}}</mat-chip>
        </mat-chip-list>
        <span class="example-fill-remaining-space"></span>
        <button mat-icon-button>
            <mat-icon matBadge="3" matBadgeColor="accent">assignment_turned_in</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>message</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon matBadge="5" matBadgeColor="warn">local_phone</mat-icon>
        </button>
    </mat-toolbar>
    <mat-tab-group>
        <mat-tab *ngFor="let subject of student.subjects" label="{{subject.name}}">
            <div class="px-1 py-1">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let exercise of subject.exercises" class="my-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Excercise {{exercise.name}}
                            </mat-panel-title>
                            <!--mat-panel-description class="row float-right" -->
                            Submission Date : {{exercise.submissionDate | date }}
                            <!--/mat-panel-description-->
                        </mat-expansion-panel-header>
                        <div class="row float-right">
                            <button mat-raised-button color="primary" (click)="showFileUpload.showUpload = true;">
                                <mat-icon>check</mat-icon> Turn In</button>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-xs-12">
                            <ol>
                                <a href="javascript:void(0)" style="cursor:pointer"
                                    (click)="downloadPdf('../../assets/pdf/bruchteil-muster.pdf','exerciseFromTeacher')">
                                    Exercise From Teacher.pdf
                                </a>

                                <button mat-icon-button (click)="openDoc('../../assets/pdf/bruchteil-muster.pdf')">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button mat-icon-button
                                    (click)="downloadPdf('../../assets/pdf/bruchteil-muster.pdf','exerciseFromTeacher')">
                                    <mat-icon>get_app</mat-icon>
                                </button>
                            </ol>                    
                        </div>
                        
                        <table><tr><th>
                        <div class="col-lg-4 col-sm-12 col-xs-12">                            
                            <app-video [videoId]="exercise.videoUrl"></app-video>
                        </div>
                            </th><th>
                            <div class="col-lg-4 col-sm-12 col-xs-12">
                            <div class="row float-right">
                                <button mat-icon-button matTooltip='Ask a question' (click)="showQuestionDialog.showQ = true;">
                                    <mat-icon>help</mat-icon>
                                </button>
                            </div>
                           
                            <div class="row" *ngIf="showQuestionDialog.showQ">
                                <ol>
                                    <button mat-raised-button matTooltip='Type your question' color="primary"
                                        (click)="showQuestionDialog.showQ = false">
                                        Chat</button>
                                    <button mat-raised-button color="primary"
                                        (click)="showQuestionDialog.showQ = false" matTooltip='Record your question'>
                                        Record</button>
                                </ol>
                            </div>
                                                </div>
                                            </th></tr></table>
                                            
                        <!-- Question and Answers -->
                        <div class="row">
                            <div class="col-lg-4 col-sm-12 col-xs-12">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title> Question and Answers</mat-card-title>
                                    </mat-card-header>
                                    <!--From Student-->

                                    <ol>
                                        <a href="javascript:void(0)" style="cursor:pointer">Your Question.wav</a>

                                        <button mat-icon-button matTooltip='View your Question'>
                                            <mat-icon>play_circle_filled</mat-icon>
                                        </button>
                                        <button mat-icon-button matTooltip='Delete your Question'>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </ol>

                                    <!--From Teacher-->
                                    <ol>
                                        <a href="javascript:void(0)" style="cursor:pointer">Reply from teacher.wav</a>

                                        <button mat-icon-button matTooltip='View Teachers Reply'>
                                            <mat-icon>play_circle_filled</mat-icon>
                                        </button>
                                    </ol>
                                </mat-card>
                            </div>
                        </div>

                        <!-- Turned in by Students -->

                        <div class="row">
                            <div class="col-lg-4 col-sm-12 col-xs-12">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title> Turned in Exercises</mat-card-title>

                                        <!-- <span class="example-fill-remaining-space"></span>
                                        <button mat-icon-button (click)="addAnswer(exercise.answers)">
                                            <mat-icon>add</mat-icon>
                                        </button>
-->
                                    </mat-card-header>
                                    <ol>
                                        <!--    <li *ngFor="let answer of exercise.answers">
                                                <a href=""> {{answer.name}} - {{answer.attachmentUrl}}</a>
                                            </li>
                                        -->
                                        <a href="javascript:void(0)" style="cursor:pointer"
                                            (click)="downloadPdf('../../assets/pdf/completedExercise.pdf','Turned In')">
                                            Completed Exercise.pdf
                                        </a>

                                        <button mat-icon-button
                                            (click)="openDoc('../../assets/pdf/completedExercise.pdf')">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                        <button mat-icon-button
                                            (click)="downloadPdf('../../assets/pdf/completedExercise.pdf','Turned In')">
                                            <mat-icon>get_app</mat-icon>
                                        </button>

                                    </ol>

                                </mat-card>
                            </div>
                            <!-- <div class="col-lg-4 col-sm-12 col-xs-12">
                                <div class="row float-right">
                                    Submission Date : {{exercise.submissionDate | date }}</div>
                            </div> -->
                        </div>

                        <!--Submit Exercise START-->
                        <div class="row float-right">
                            <button mat-raised-button color="primary" (click)="showFileUpload.showUpload = true;">
                                <mat-icon>publish</mat-icon> Submit Exercise</button>
                        </div>

                        
             <!--       <mat-expansion-panel class="my-1">
                 -->              
                        <div class="row float-right" *ngIf="showFileUpload.showUpload">
                            <ol>               
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                                <button mat-raised-button matTooltip='Cancel Upload' color="primary"
                                    (click)="showFileUpload.showUpload = false">
                                    <mat-icon>cancel</mat-icon> Cancel</button>
                                <button mat-raised-button color="primary"
                                    (click)="showFileUpload.showUpload = false" matTooltip='Upload selected file'>
                                    <mat-icon>cloud_upload</mat-icon> Upload</button>
                            </ol>
                        </div>
                  <!--      
                    </mat-expansion-panel>
                    -->  
                    <!--Submit Exercise  END-->

                        <!-- Video thumbnail popup modal START-->
                        <!--
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-4">
                              <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" alt="video" (click)="videoModal1.show()"></a>
                            </div>
                        </div>          
                        <div mdbModal #videoModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body mb-0 p-0">
                                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <!-- Video thumbnail popup modal END-->                        

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>